fastapi
uvicorn
langgraph
langchain-core
langchain-groq
requests
supabase==2.4.3
pypdf==5.1.0
langchain-text-splitters==0.3.3
sentence-transformers
python-dotenv
pydantic
transformers
torch
python-multipart
cloudscraper
beautifulsoup4
